.window {
  position: absolute;
  top: 100;
  left: 0;
  /* width: 550px; */
  /* height: 460px; */
  border: 1px solid #808080;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #f8ecd4;
  padding-bottom: 10px;
}

.window-titlebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #808080;
  background-color: #CCCCCC;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: inset 0em 0.2em 0em 0 rgba(255,255,255,0.5), inset -0em -0.2em 0em 0 rgba(0,0,0,0.2);  
  cursor: move;
}

.window-title {
  margin-left: 10px;
  flex-grow: 1;
  user-select: none;
  font-family: 'DotGothic16', sans-serif;
  font-size: 1.2em; 
  font-weight: bold; 
}

.window-controls {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.window-controls button {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  box-shadow: inset -0.2em -0.2em 0em 0 rgba(0,0,0,0.2), inset 0.2em 0.2em 0em 0 rgba(255,255,255,0.5);
  box-shadow:  0.2em 0.2em 0em 0 rgba(255,255,255,0.5), -0.2em -0.2em 0em 0 rgba(0,0,0,0.2),;
  background-color: transparent;
  cursor: pointer;
}

.window-controls button:hover {
  background-color: #f1f1f1;
}

.draggable-icon{
  text-align: center;
  font-family: 'DotGothic16', sans-serif;
  font-weight: bold;
}

.draggable-icon figcaption{
  color: white;
  /* https://owumaro.github.io/text-stroke-generator/ */
  text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

.window-content {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0;
  /* width: 95%; */
  /* height: calc(100% - 25px); */
  overflow: hidden;
  padding: 10px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  /* outline: 5px solid #515151;
  outline-offset: -5px; */
}

.window-content button {
  width: 130px;
  height: 50px;
  border-color: #f1f1f1;
  background-color: orange;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}

.window-content button:hover {
  background-color: #f1f1f1;
}

.taskbar {
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 35px;
  background: rgb(255,218,144);
  background: -moz-linear-gradient(90deg, rgba(255,218,144,1) 0%, rgba(254,205,133,1) 52%, rgba(252,166,101,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,218,144,1) 0%, rgba(254,205,133,1) 52%, rgba(252,166,101,1) 100%);
  background: linear-gradient(90deg, rgba(255,218,144,1) 0%, rgba(254,205,133,1) 52%, rgba(252,166,101,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffda90",endColorstr="#fca665",GradientType=1);
  border-top: 1px solid #808080;
  display: flex;
  align-items: center;
  font-family: 'DotGothic16', sans-serif;
  font-size: 1.5em;
  /* font-weight: bold; */
}

.taskbar-os-name{
  margin-left: 10px;
}

.taskbar-devfest-logo{
  position: relative;
  transform: scale(70%);
  top: 27px;
  left: -20px;
  right: auto;
  bottom: auto;
}

.taskbar-countdown-timer-icon{
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: 10px;  
  object-fit: contain;
}

.timer-text{
  position: relative;
  top: -0.3em;
}

.taskbar-default-timer{
  position: relative;
  top: 3.75em;
  right: -1.5em;
}

.taskbar-default-timer:hover + .taskbar-countdown-timer-tooltip{
  visibility: visible;
}

.taskbar-countdown-timer-tooltip {
	position: relative;
	background: #F0EAD6;
	border-radius: 0px;
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  top: 65px;
  text-align: center;
  visibility: hidden;
}

/* .taskbar-countdown-timer-tooltip:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.125em solid black;
	border-bottom-color: #F0EAD6;
	border-top: 0;
	margin-left: -1.125em;
	margin-top: -1.125em;
} */

.taskbar-countdown-timer {
  font-size: 14px;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
}

.desktop {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-image: url("./Assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.desktop-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tracks-wrapper{
  overflow: hidden;
  text-align: left;
}

.track{
  display: flex;
  align-items: center;
  background-color: #f8ecd4;
  width: 100%;
  height: 100px;
  border: 1px solid black;
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 3em;
  padding-left: 10px;
  white-space: nowrap;
}

#ar-vr {
  background-image: url("./Assets/Tracks/AR-VR.png");
  background-size: cover;
  background-repeat: no-repeat;  
}
#design {
  background-image: url("./Assets/Tracks/Design.png");
  background-size: cover;
  background-repeat: no-repeat;  
}
#ai-data {
  background-image: url("./Assets/Tracks/AI-Data.png");
  background-size: cover;
  background-repeat: no-repeat;  
}

.locked{
  width: 100%;
  height: 300px; 
}

.blurred{
  width: 100%;
  height: 300px;
  background-image: url("./Assets/Locked/Judges.jpg");
  background-size: cover;
  background-repeat: repeat;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px)   
}

.lock-icon{
  position: relative;
  z-index: 1;
  top: 30px;
}

.blurred img{
  width: 100%;
  object-fit: contain;
}